{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "InvokeOwnedToolFunction",
      "Effect": "Allow",
      "Action": ["lambda:InvokeFunction"],
      "Resource": "${tool_function_arn}"
    }
  ]
}
